@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');


.rubik-regular {
  font-family: "Rubik";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.rubik-regular-italic {
  font-family: "Rubik";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Rubik";
  line-height: 45px;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  z-index: -1;
}

