.block3{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: white;
    color: #22356F;
}



.textCenter{
    margin-left: 320px;
    margin-right: 290px;
    font-size: 24px;
    text-align: left;
}